/* Base CSS and CSS for mobile screen sizes */
* {
    margin: 0;
}

body {
    background: url(../images/bg-mobile.svg) no-repeat center top;
    background-color: hsl(257, 40%, 49%);
    background-size: contain;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    color: white;
}

.logo {
    margin: 45px 55px 20px 55px;
    max-width: 33vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 40px 55px 40px 55px;
}

.landing-img {
    align-self: center;
    max-width: 75vw;
    max-height: 50vh;
}

.landing-description {
    margin-top: 50px;
    text-align: center;
    line-height: 1.6;
}

.landing-header {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.9rem;
    margin-bottom: 1.5rem;
}

.landing-btn {
    border-radius: 50px;
    background-color: white;
    border: none;
    box-shadow: 3px 5px 5px 5px hsl(257, 40%, 40%);

    margin: 25px 0 50px;
    padding: 15px 100px;

    color: hsl(257, 40%, 49%);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    
}

.landing-btn:hover {
    color: white;
    background-color: hsl(300, 69%, 71%);
    cursor: pointer;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 120px;
}

.socials {
    display: flex;
    justify-content: center;
}

.fa-brands {
    margin-left: 15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid white;
    border-radius: 50%;
}

.fa-brands:hover {
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
    cursor: pointer;
}

/* CSS for medium size screens */
@media (min-width: 800px) {
    body {
        background-image: url(../images/bg-desktop.svg);
        background-size: cover;
        font-size: 1.3rem;
    }

    .landing-img{
        max-width: 50vw;
    }

    .landing-description {
        max-width: 65vw;
    }
}


/* CSS for desktop/big screens */
@media (min-width: 1300px) {
    body {
        background-image: url(../images/bg-desktop.svg);
        background-size: cover;
        font-size: 1.2rem;
    }

    .logo {
        margin: 5vh;
    }

    .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: unset;
        margin: 50px 100px;
    }

    .landing-description {
        max-width: 35vw;
        text-align: left;
        padding-left: 75px;
    }

    .landing-header {
        font-size: 2.4rem;
    }

    .landing-img {
        min-width: 45vw;
        max-height: unset;
        height: auto;
    }

    .landing-btn {
        
        margin-top: 25px;
        padding: 18px 85px;
    }

    footer {
        position: absolute;
    }

    .socials {
        justify-content: flex-end;
        align-items: flex-end;
        margin-right: 100px;
    }

    .fa-brands {
        margin: 30px 10px;
    }

}

/* CSS for the attribution */
.attribution {
    font-size: 11px;
    text-align: center;
    display: none;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}